/* generlazing all font family will be tahoma */
h1, h2, h3, h4, h5, h6, p, ul, li {
  /*font-family: Helvetica;*/
  font-family: 'Lato', sans-serif;
}

/*
for logo
font-family: 'Orbitron', sans-serif;
for other
font-family: 'Lato', sans-serif;
*/

/* --- navigation --- */
nav.navbar {
  background-color: #000000;
  /*background-color: transparent;*/
  box-shadow: none;
  border: none;
  z-index: 999999;
  padding-top: 7px;
  padding-bottom: 0px;
  height: 65px;
}

nav.navbar a#logo {
  font-family: 'Orbitron', sans-serif;
  font-size: 35px;
  /*color: #D90429;*/
  color: #cecece;
  padding-left: 7px;
  padding-top: 0px;
}

nav.navbar div#navbarNav ul.navbar-nav {
  background-color: rgba(0, 0, 0, 0.7);
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 10px;
}

nav.navbar div#navbarNav ul.navbar-nav li a.nav-link {
  /*font-weight: bold;*/
  font-family: 'Orbitron', sans-serif;
  color: #fffffa;
  padding-right: 20px;
  padding-left: 20px;
}

nav.navbar div#navbarNav ul.navbar-nav li a.nav-link:hover {
  color: #fffffa;
  text-decoration: none;
  /*background-color: rgba(0, 0, 0, 0);*/
  border: 2px solid #fffffa;
  border-radius: 5px;
}

nav.navbar button {
  color: #fffffa;
  font-size: 25px;
  padding-top: 12px;
}